@charset 'utf-8';
 
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/elements/_all.sass';
@import 'node_modules/bulma/sass/components/_all.sass';
@import 'node_modules/bulma/sass/grid/columns.sass';
@import 'node_modules/bulma/sass/layout/_all.sass';

@import './_fonts.scss';

@media only screen and (max-width: 1087px) {
	.columns{
		margin-left: 0;
	}	
}

body{
	font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
	line-height: 2rem;
	background: #000;
}

.title, .content h1, .content h2{
	font-family: 'Ogg Roman', "Times New Roman", Times, serif;
	font-weight: normal;
	line-height: 2.5rem;

	@media only screen and (max-width: 1087px) {
		font-size: 24px;
	}
}

.has-text-shadow{
	text-shadow: 0em 0em 1em rgba(0,0,0,1);
}

.navbar-burger{
	right: 16px;
	top: 12px;
	color: #FFF;
	z-index: 99;

	&.is-transparent {
		background-color: transparent;
		background-image: none;
	}

	&.is-fixed-top {
		position: fixed;
	}

	span{
		height: 2px;
		width: 32px;
	}

	&:hover{ color: #FFF; }
}

nav {
	background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
	font-size: 17px;

	&.is-fixed-top{
		left: 0;
    	position: fixed;
    	right: 0;
    	z-index: 30;
	}

	&.is-transparent {
		background-color: transparent;
		background-image: none;
	}

	&.nav-container{
		padding-bottom: .75rem;
		padding-top: 2%;
	}

	.nav-menu{
		justify-content: space-between;
	}
}

.modal-opened{
	overflow: hidden;
}

#menu-modal{
	background-color: rgba(0,0,0,0.8);	
	font-size: 48px;
	line-height: 64px;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    width: 100%;
    overflow: scroll;
    height: 100%;
    display: none;
    
    ul{
    	width: 80%;
    	margin: 0 auto;
    	padding-top: 20%;
    }

	li{
		padding-bottom: 64px;
	}

	&.opened{
		display: block;
	}
}

#dogal-main{
	background: url('../assets/images/dogal-homepage.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;

	.logo-container{
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);

		.navbar-logo{
			display: none;
		}

		&.stick{
			position: fixed;
			top: 72px;
			left: 50%;
			width: 128px;
			transform: translateX(-50%);
			display: block;

			@media only screen and (max-width: 1087px) {
				top: 32px;
				width: 96px;
			}

			.column{
				display: none;
			}

			.navbar-logo{
				display: block;
			}
		}
	}

	.payoff-container{
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 3%;

		@media only screen and (max-width: 1087px) {
			margin-bottom: 1%;
		}
	}

}

#dogal-inspiration-01{
	background: url('../assets/images/dogal-craft.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.content{
		p{
			 margin-bottom: 1em;
		}
	}
}

#dogal-inspiration-02{
}

#dogal-legacy-01{
	background: url('../assets/images/dogal-legacy.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#dogal-legacy-02{
	background: url('../assets/images/dogal-inspiration.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	position: relative;

	.hero-body{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}
}

#dogal-contacts{
}